.d-flex .btn{
    background: rgb(49, 7, 237);
    border: 2px solid rgb(87, 135, 206);
    border-radius: 8px;
    color: #fff;
}
.d-flex .btn:hover{
    background: rgb(15, 82, 239);
    border: 2px solid rgb(50, 89, 206);
}

#right1 :hover{
    color: rgb(32, 87, 169);
    transition: 300ms;
}

.row .right2 {
    margin-left: -10px;
    height: 180px;
    width: 180px;
    border-radius: 10px;
}

.container .row .col .row .col a {
    background-color: rgb(62, 62, 186);
    padding: 5px;
    border-radius: 50px;
    text-decoration: none;
    color: white;

}

.container .row .col .row .col a :hover {
    background-color: rgb(60, 10, 242);
}
#column :hover{
    transform: scale(0.9);
    transition: 450ms;
    border-radius: 10px;
}

#items :hover {
    color: rgb(19, 56, 239);
    transition: 200ms;
}